

<section class="d-flex ">
    <div class="col-md-6">
        <div class="border">
            <div class="d-flex flex-column" id="messages">
            </div>
            <div>
                <input id="messageInput" placeholder="lütfen mesaj giriniz." />
                <button id="sendButton">Gönder</button>
            </div>
            <div class="messages" id="messageContainer"></div>
        </div>
    </div>
    <div class="col-md-5 d-flex flex-column">
        
        
        <a onclick="handleLinkClick(this.id)" id="1">
            <div class="card">
                <div class="card-body">
                    <span>Oda 1</span>
                </div>
            </div>
        </a>
        <a onclick="handleLinkClick(this.id)" id="2">
            <div class="card">
                <div class="card-body">
                    <span>Oda 2</span>
                </div>
            </div>
        </a>
        <a onclick="handleLinkClick(this.id)" id="3">
            <div class="card">
                <div class="card-body">
                    <span>Oda 3</span>
                </div>
            </div>
        </a>
        <a onclick="handleLinkClick(this.id)" id="4">
            <div class="card">
                <div class="card-body">
                    <span>Oda 4</span>
                </div>
            </div>
        </a>
        

    </div>
</section>

